.button-top {
  display: flex;
  align-items: center;
  font-family: "Mont", arial, helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  color: #89939a;
  background: none;
  border: none;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    color: #313237;
  }

  &:hover &__icon {
    border-color: #313237;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.52876 10.4714C3.26841 10.211 3.26841 9.7889 3.52876 9.52855L7.52876 5.52856C7.78911 5.26821 8.21122 5.26821 8.47157 5.52856L12.4716 9.52856C12.7319 9.78891 12.7319 10.211 12.4716 10.4714C12.2112 10.7317 11.7891 10.7317 11.5288 10.4714L8.00016 6.94277L4.47157 10.4714C4.21122 10.7317 3.78911 10.7317 3.52876 10.4714Z' fill='%23313237'/%3E%3C/svg%3E%0A");
  }

  &__icon {
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 0;
    padding: 9px;
    border: 1px solid #b4bdc3;
    border-radius: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.52876 10.4714C3.26841 10.211 3.26841 9.7889 3.52876 9.52855L7.52876 5.52856C7.78911 5.26821 8.21122 5.26821 8.47157 5.52856L12.4716 9.52856C12.7319 9.78891 12.7319 10.211 12.4716 10.4714C12.2112 10.7317 11.7891 10.7317 11.5288 10.4714L8.00016 6.94277L4.47157 10.4714C4.21122 10.7317 3.78911 10.7317 3.52876 10.4714Z' fill='%23B4BDC4'/%3E%3C/svg%3E%0A");
  }

  &__text {
    display: none;
  }
}

@media (min-width: 760px) {
  .button-top {
    &__icon {
      margin-left: 16px;
    }

    &__text {
      display: flex;
    }
  }
}
